@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {

    height: 100%;
}

body {
    -webkit-animation: fade-in 1.5s linear;
    -moz-animation: fade-in 1.5s linear;
    -o-animation: fade-in 1.5s linear;
    animation: fade-in 1.5s linear;
    background: url(background.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    font-family: monospace, sans-serif;
    font-size: 25px;
    color: #ccc;
    

}




.getLocation {

    display: block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(100, 100, 100, .3) 5px 3px 4px;
    user-select: none;
    padding: 0.7em 0.8em;
    outline: none;
    border-radius: 3px / 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 50%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 50%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 50%, rgba(223, 190, 170, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 50%, rgba(223, 190, 170, .5));
    background-repeat: no-repeat;
    background-size: 220% 90%, auto, 110% 2px, 110% 5px, 90% 1px, 100% 1px;
    background-position: 170% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0, 0, 0, .5) 5px 8px 8px -8px;
}

.getLocation:hover {
    transition: .5s linear;
    background-position: -150% 0, 0 0, 0 0, 0 100%, 0 5px, 0 calc(100% - 4px);
}

.getLocation:active {
    top: 1px;
}

.emplacement {
    padding-left: 20%;

}

li {
    list-style-type: none;
}


.buttonPosition {
    padding-left: 30%;
}



.buttonPosition {
    padding-left: 45.5%
}

.weatherPosition {
padding-left: 38%
}